name: CI/CD

on:
  push:
    branches: [ main, master, 'bugfix/v*' ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main, master, 'bugfix/v*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build -- --configuration production
      - name: Archive build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ngx-gallery-dist
          path: dist/ngx-gallery

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm run test -- --watch=false --browsers=ChromeHeadless

  tag-version:
    needs: [build, test]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'master' || startsWith(github.ref_name, 'bugfix/v'))
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check version and tag
        run: |
          VERSION=$(node -p "require('./package.json').version")
          TAG="v$VERSION"
          if git rev-parse "$TAG" >/dev/null 2>&1; then
            echo "Tag $TAG already exists."
          else
            echo "Creating tag $TAG"
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git tag "$TAG"
            git push origin "$TAG"
          fi

  publish-npm:
    name: Publish to NPM
    needs: [build, test]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Download library artifact
        uses: actions/download-artifact@v4
        with:
          name: ngx-gallery-dist
          path: dist/ngx-gallery

      - name: Update version and publish
        working-directory: dist/ngx-gallery
        run: |
          TAG_VERSION=${GITHUB_REF#refs/tags/}
          VERSION=${TAG_VERSION#v}
          echo "Updating version to $VERSION"
          npm pkg set version=$VERSION
          npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
